<nav class="navbar navbar-default navbar-no-corners">

  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/main">Superforum</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/main" id="current-user">Logged in as: <span ng-model="currentUser">{{ username }}</span></a></li>
        <li ng-class="{ 'active': !postController }"><a id="posts" href="#/main">Posts</a></li>
        <li ng-class="{ 'active': postController }"><a id="write-post" href="#/post">Write a post</a></li>
        <li ng-click="logout()" id="logout"><a href="#">Log out</a></li>
      </ul>
    </div>
  </div>
    
</nav>